.characters {
    padding: 0 15px;
    width: 654px;
    margin: 0 auto;
    margin-top: 50px;
    .body-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
        h3 {
            font-size: 20px;
            color: white;
        }
    }

    table {
        width: 100%;
        padding: 0 10px;
        border-collapse: collapse;
        text-align: center;

        th {
            padding: 1rem 0;
            font-size: 18px;
            color: yellow;
        }

        td {
            padding: 0.7rem 0;
            border-bottom: 1px solif yellow;
            border-spacing: 0;
        }
    }
}
