.characters {
    padding: 0 15px;
    width: 654px;
    margin: 0 auto;
    margin-top: 50px;
    .body-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
        h3 {
            font-size: 20px;
            color: white;
        }
    }

    table {
        width: 83%;
        padding: 0 10px;
        border-collapse: separate;
		text-align: center;
<<<<<<< HEAD
		margin: 0 0 2em 4em;
=======
		margin: 0 0 2em 0;
>>>>>>> 21fc62dc05a7460d3931a2590f8de703fd5bce5d
		border-collapse: collapse;
		border-spacing: 0;
		text-indent: initial;

			thead {
				border-bottom: 2px solid yellow;
				display: table-header-group;

				th {
					padding: 0 0.75rem 0.75rem 0.75rem;
					font-size: 18px;
					font-weight: 600;
					color: yellow;
					text-align: left;
					display: table-cell;
<<<<<<< HEAD
					cursor: pointer;
=======
>>>>>>> 21fc62dc05a7460d3931a2590f8de703fd5bce5d
					}
				}

				tbody {
					tr {
						&:nth-child(2n) {
							background-color: rgba(255, 255, 0, 0.3);
							border-left: 0;
							border-right: 0;
							color: wheat;
							display: table-row;
						}
						td {
							padding: 0.75rem 0.75rem;
							text-align: left;
							display: table-cell;
						}
					}
				}
				tfoot {
					tr {
						td {
							text-align: left;
<<<<<<< HEAD
							padding: 1rem 0.75rem;
=======
							padding: 0.75rem 0.75rem;
>>>>>>> 21fc62dc05a7460d3931a2590f8de703fd5bce5d
							background-color: rgba(255, 255, 0, 0.566);
							color: white;
						}
					}
				}
    }
}
